.navigation-bar {
    background-color: #101010;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 25px;
}

.title {
    color: #FFFFFF;
    font-size: 28px;
    font-weight: bold;
}

.user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-avatar-space {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 15px;
    cursor: pointer;
}

.user-avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.user-name {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

.dropdown-user-details {
    position: absolute;
    top: calc(100% + 15px);
    right: 0px;
    border: 1px solid #0D0D0D;
    display: none;
}

.dropdown-user-detail:hover {
    background-color: #2e2e2e;
}

.dropdown-user-detail {
    color: #FFFFFF;
    padding: 10px;
    background-color: #131313;
    white-space: nowrap;
    cursor: pointer;
}

@media (max-width: 750px) {
    .user-name {
        display: none;
    }

    .dropdown-user-details {
        display: flex;
    }
}