.ride {
    position: relative;
    height: 200px;
    background-color: #171717;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.ride-map {
    height: 100%;
    border-radius: 10px;
}

.ride-details {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ride-details-one {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 25px;
}

.ride-details-two {
    height: 100%;
    display: flex;
}

.ride-detail-one {
    color: #CFCFCF;
}

.ride-detail-two {
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 25px;
}

.ride-detail-two:hover {
    background-color: #B3B6B7;
}

.ride-detail-one span {
    color: #FFFFFF;
}

@media (max-width: 750px) {
    .ride {
        flex-direction: column;
        width: 100%;
        height: inherit;
    }

    .ride-map {
        height: inherit;
        width: 100%;
    }

    .ride-details {
        margin-top: 20px;
        flex-direction: column;
        align-items: flex-start;
    }

    .ride-details-one {
        margin-left: 0px;
    }

    .ride-details-two {
        width: 100%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .ride-detail-two {
        margin: 0px 10px;
    }
}