* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Inter";
}

body {
    background-color: #292929;
}

.container {
    padding: 25px 50px;
}

.panel {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.panel-links {
    display: flex;
    margin-bottom: 25px;
}

.panel-link {
    margin-right: 25px;
    font-size: 18px;
    color: #D0CBCB;
    text-decoration: none;
    font-weight: bold;
}

.panel-link-active {
    color: #FFFFFF;
    border-bottom: 2px solid #FFFFFF;
    padding-bottom: 5px;
}